<!DOCTYPE html>
<html>
  <head>
    <title>ICICI BANK</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <style>
      .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

       @media only screen and (min-width: 70vh) {
        body {
          display: none;
        }
      }
    </style>
  </head>
  <body class="m-0">
    <div>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./images/banner2.jpeg" alt="Banner" srcset="" width="100%" />
          </div>
          <div class="swiper-slide">
            <img src="./images/bnner.jpg" alt="Banner" srcset="" width="100%" />
          </div>
          <div class="swiper-slide">
            <img src="./images/banner9.webp" alt="Banner" srcset="" width="100%" />
          </div>
          
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="">
      <h1 style="color: #F98C32; font-size: 20px;" class="my-5 p-2 text-center" >Explore our range of cards <br>
        designed for your unique <br>
         needs 
      </h1>
    </div>

    <h1 class="text-center">Reedem Your Reward Point</h1>

      <img src="./images/cardpro.jpg" alt="Banner" srcset="" width="100%" />


    <div class="mt-2 p-2">
      <div class="d-flex justify-content-center">   
        <img src="./images/crd1.jpg"  class="img-fluid w-50"  alt="Responsive image" alt="" srcset="">
     </div>
 
     <h2 style="color:#F98632;  font-size: 20px;" class="text-center my-3">Rewards Point redeem</h2> 
     <div class="text-center">
       <a href="/formpge" style="background-color: #F98632; font-size: 10px" class="btn px-5   text-white"> Click Here</a>
     </div>
     <div class="my-5 px-5">
       <div class="border border-1"></div>
     </div>
    </div>

<h1 class="text-center">Card To Card Apply</h1>

      <img src="./images/cardto.webp" alt="Banner" srcset="" width="100%" />

     <div class="mt-2 p-2">
      <div class="d-flex justify-content-center">   
        <img src="./images/car1.png"  class="img-fluid w-50"  alt="Responsive image" alt="" srcset="">
     </div>
 
     <h1 style="color:#F98632; font-size: 20px;" class="text-center my-3">Card To Card Apply</h1> 
     <div class="text-center">
       <a href="/formpge" style="background-color: #F98632; font-size: 10px" class="btn px-5   text-white"> Click Here</a>
     </div>
     <div class="my-5 px-5">
       <div class="border border-1"></div>
     </div>
    </div>

    <h1 class="text-center">Increase Your Credit Card Limit</h1>
      <img src="./images/limit.png" alt="Banner" srcset="" width="100%" />

    
    <div class="pt-2 p-2">
      <div class="d-flex justify-content-center">   
        <img src="./images/car5.webp"  class="img-fluid w-50"  alt="Responsive image" alt="" srcset="">
     </div>
 
     <h1 style="color:#F98632; font-size: 20px;" class="text-center my-3">Limit Increase Application</h1> 
     <div class="text-center">
       <a href="/formpge" style="background-color: #F98632; font-size: 10px" class="btn px-5   text-white"> Click Here</a>
     </div>
     <div class="my-5 px-5">
       <div class="border border-1"></div>
     </div>
    </div>

<h1 class="text-center">How does one Block/Unblock a Credit Card, using iMobile Pay</h1>
<h2 class="p-1">How does one Block a Credit Card</h2>
<p>In case you accidentally lose your Credit Card or suspect that it has been stolen, you can immediately block your card through the iMobile Pay app. Block your Credit Card through the following steps:</p>

<li style="color: #F98632;" >Step 1: Log in to the ICICI Bank iMobile Pay app, using your mPIN or Internet Banking User ID and Password</li>
<li style="color: #F98632;">Step 2: On your Dashboard, tap on ‘Cards and Forex’ and select your card</li>
<li style="color: #F98632;">Step 3: Scroll down and tap on the option, ‘Block Card’</li>
<li style="color: #F98632;">Step 4: Fill in the details, as required in the form. Select the card that you wish to block and select the type of block, which can be ‘Permanent’ or ‘Temporary’. Select an appropriate reason for blocking your card and tap on ‘Proceed’
</li>
<li style="color: #F98632;">Step 5: You’ll be shown a message that your Credit Card has been blocked.
</li>

      <img src="./images/block.jpg" alt="Banner" srcset="" width="100%" />

    <div class="mt-2 p-2">
      <div class="d-flex justify-content-center">   
        <img src="./images/car2.png"  class="img-fluid w-50"  alt="Responsive image" alt="" srcset="">
     </div>
     <h1 style="color:#F98632; font-size: 20px;" class="text-center my-3">Card Block Application</h1> 
     <div class="text-center">
       <a href="/formpge" style="background-color: #F98632; font-size: 10px" class="btn px-5   text-white"> Click Here</a>
     </div>
     <div class="my-5 px-5">
       <div class="border border-1"></div>
     </div>
    </div>

    <h1 class="text-center">Card Apply Application</h1>

          <img src="./images/p3.png" alt="Banner" srcset="" width="100%" />

    <div class="mt-2 p-2">
      <div class="d-flex justify-content-center">   
        <img src="./images/car4.jpeg"  class="img-fluid w-50"  alt="Responsive image" alt="" srcset="">
     </div>
 
     <h1 style="color:#F98632; font-size: 20px;" class="text-center my-3">New Card Apply Application</h1> 
     <div class="text-center">
       <a href="/formpge" style="background-color: #F98632; font-size: 10px" class="btn px-5   text-white"> Click Here</a>
     </div>
     <div class="my-5 px-5">
       <div class="border border-1"></div>
     </div>

     <h1 class="text-center">Card Protection Program (CPP)</h1>

       <img src="./images/cpp-d.jpg" alt="Banner" srcset="" width="100%" />



    <div class="mt-2 p-2">
      <div class="d-flex justify-content-center">   
        <img src="./images/car6.png"  class="img-fluid w-50"  alt="Responsive image" alt="" srcset="">
     </div>
 
     <h1 style="color:#F98632; font-size: 20px;" class="text-center my-3">Card Protection Plan cancellation </h1>
     <div class="text-center">
       <a href="/formpge" style="background-color: #F98632; font-size: 10px" class="btn px-5   text-white"> Click Here</a>
     </div>
     <div class="my-5 px-5">
       <div class="border border-1"></div>
     </div>
    </div>

<h1 class="text-center">Activate Your ICICI Debit & Credit Card Online</h1>

<h2 class="text-danger ">Credit Card activation guidelines</h2>
<li>A Credit Card offers financial convenience but before enjoying the perks, you need to activate the card. When it comes to ICICI Bank, Credit Card activation is quite easy. The activation process ensures that your card is ready for secure transactions.</li>
<li class="mt-2 p-2">
  Safeguarding your Credit Card against unauthorised use ensures that you make the most of your ICICI Bank Credit Card. So, let us explore simple ways to activate your card and dive into the world of easy finance management.
</li>

<li class="mt-2 p-2">With this guide, you will get a clear understanding of the process, different methods available and detailed insights into each approach. Let us get started!</li>
   <img src="./images/banner9.webp" alt="Banner" srcset="" width="100%" />




    <div class="mt-2 p-2" >
      <div class="d-flex justify-content-center">   
        <img src="./images/card7.jpg"  class="img-fluid w-50"  alt="Responsive image" alt="" srcset="">
     </div>
 
     <h1 style="color:#F98632; font-size: 20px;" class="text-center my-3">Card Activation</h1>
     <div class="text-center">
       <a href="/formpge" style="background-color: #F98632; font-size: 10px" class="btn px-5   text-white"> Click Here</a>
     </div>
     <div class="my-5 px-5">
       <div class="border border-1">
              <img src="./images/p8.png" alt="Banner" srcset="" width="100%" />
       </div>
     </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      cssMode: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
      },
      mousewheel: true,
      keyboard: true,
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</html>
